{% extends 'gestionProduit/index.html' %}

{% block main %}


<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Les Produits</span></h2>
    <a class="btn btn-danger btn-sm m-4" href="{% url 'clean' %}">Vider le pannier</a>
    <div class="row px-xl-5 pb-3">
        
        {% for produit in produits %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{{ produit.image }}" alt="">
                    </div> 
                    <div class="flex-fill pl-3">
                        <h6> {{ produit.designation }} </h6>
                        <small class="text-body"> {{ produit.prix }} GNF </small>
                        <a href="" class="btn px-0 ml-3">
                            <i class="fas fa-shopping-cart text-primary"></i> 
                        </a>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}

        <div class="container">
            <p class="text-center text-primary fw-bold text-dark">
                Aucun article dans le pannier 
            </p>
        </div>

        {% endfor %}
        <div>
            <p>Le montant total à payer est: <span class="badge bg-success text-light fw-bold">{{ montant }}</span>GNF </p>
        </div>
    </div>
</div>


{% endblock main %}

{% block footer %}
{% endblock footer %}